.link {
  border-radius: 30px;
  color: @white;
  text-transform: uppercase;
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  letter-spacing: @medium-letter-spacing;

  &:hover {
    color: @white;
  }

  &.link-primary {
    background-color: @pink;
  }

  &.link-secondary {
    border: 3px @white solid;
  }

  &.link-ternary {
    border: 3px @orange solid;
    color: #8e8f91;
  }
}

.pink-dash {
  &:before {
    content: "\2014";
    color: @pink;
  }
}


@vertical-small-spacing: 4%;
@vertical-big-spacing: 2 * @vertical-small-spacing;

.small-spacing {
  margin-bottom: @vertical-small-spacing;
}

.big-spacing {
  margin-bottom: @vertical-big-spacing;
}


// http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
.middle-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
