@import "../styles/variables";

.blue-section-wrapper (@img_path: "../../assets/img/banner_image.png"){
  background: linear-gradient(@blue-gradient, @blue-gradient), url(@img_path);
  background-repeat: none;
}

.blue-section (@min-height: @section-min-height * 2) {
  text-align: center;
  min-height: @min-height;

  h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 8em;
    @media screen and (max-width: @screen-sm) {
      font-size: 5em;
    }
    color: @white;
  }

  h2 {
    text-transform: uppercase;
    color: @orange;
    letter-spacing: @big-letter-spacing;
    font-weight: 300;
  }
}

.section-icon (@icon-path: "../../assets/img/icons/media.png") {
  height: 100%;
  display: block;
  background: url(@icon-path) no-repeat;
  background-size: 50px 35px;
}
