@grey: #4d4d4d;
@light-grey: #ebebeb;
@red: #c23b22;
@white: #fff;
@pink: #FF0090;
@orange: #FFBA00;
@dark-green: #3B4045;
@green: #57B83D;
@gray: #3B4045;
@yellow: #FFC000;
@dark-gray: #D9D9D9;

@navbar-default-bg: @grey;
@navbar-default-link-color: @white;
@navbar-border-radius: 0px;

@navbar-default-link-active-color: @white;
@navbar-default-link-hover-color: @white;

@font-family-base: 'Lato', sans-serif;

@blue-gradient: rgba(0, 129, 177, 0.7);
@section-min-height: 250px;

@big-letter-spacing: 5px;
@medium-letter-spacing: 3px;
