@grey: #4d4d4d;
@light-grey: #EBEBEB;
@red: #C23B22;
@white: #FFF;
@pink: #FF0090;
@orange: #FFBA00;
@dark-green: #3B4045;
@green: #57B83D;
@yellow: #FFC000;
@dark-gray: #D9D9D9;
@light-black: #394042;
@blue: #0084b0;

@navbar-default-bg: @grey;
@navbar-default-link-color: @white;
@navbar-border-radius: 0px;

@navbar-default-link-active-color: @white;
@navbar-default-link-hover-color: @white;
