@import "../main";


.galaciuc {
  .blue-section-wrapper {
    .blue-section-wrapper (@img_path: "../../assets/img/galaciuc.png");
  }
  .blue-section {
    .blue-section();
  }

  .orange-section-wrapper{
    background-color: @orange;
  }

  .orange-section{
    min-height: 0px;

    margin-top: 20px;
    margin-bottom: 20px;

    .jury-criteria-documents {
      min-height: 0px;
      text-align: center;

      .jury-criteria {
        text-align: center;
        margin: 0 20px 40px auto;
        width: 150px;
        letter-spacing: 2px;
        color: @white;
        display: inline-block;

        .jury-criteria-txt {
          margin-bottom: 5px;
          text-transform: uppercase;
        }
        .jury-criteria-img {
          filter: brightness(0);
        }
      }
    }

    .jury-criteria-desc {
      width: 300px;
      margin: 0 auto;
      text-transform: uppercase;
      min-height: 0px;
      padding-top: 30px;
      padding-bottom: 20px;
      letter-spacing: 3px;

      .pink-dash {
        color: @pink;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }



  .white-section {
    li:before {
      content: "\2014";
      position: relative;
      left: -5px;
      font-size: 24px;
      color: @pink;
    }

    li {
      list-style-type: none;
      font-size: @font-size-base;
    }

    p {
      font-size: 20px;
      margin-top: 20px;
    }

    .box {
      @box-height: 400px;
      height: @box-height;
      border: 3px solid @light-grey;

      .rules {
        text-align: center;
        margin-top: @box-height / 4;
        text-transform: uppercase;

        .pink-dash {
          margin-left: 20px;
          margin-right: 20px;
        }

        .doc {
          display: inline-block;
          margin: @box-height / 8 auto auto;
          background-size: 100%;
          height: 85px;
          width: 60px;
        }

      }
    }

    .category {
      @category-height: 175px;
      height: @category-height;
      width: 180px;
      display: inline-block;

      &.yellow {
        background-color: @yellow;
      }

      &.green {
        background-color: @green;
      }

      &.blue {
        background-color: @blue;
      }

      &.pink {
        background-color: @pink;
      }

      &.black {
        background-color: @light-black;
      }

      .round-icon {
        @icon-height: 70px;
        text-align: center;
        width: 70px;
        height: @icon-height;
        background-color: @black;
        border-radius: 100%;
        margin: @category-height / 5 auto auto;

        .section-icon {
          margin: @icon-height / 4 auto;
          display: inline-block;
        }
      }

      .description {
        color: @white;
        text-transform: uppercase;
        text-align: center;
        margin-top: 15px;
      }

    }
  }
}
