@import (reference) "../main";


.galaciuc {
  .blue-section-wrapper {
    .blue-section-wrapper (@img_path: "/assets/img/galaciuc.webp");
  }
  .blue-section {
    .blue-section();
  }

  .orange-section-wrapper{
    background-color: @orange;
  }

  .orange-section{
    min-height: 0px;

    margin-top: 20px;
    margin-bottom: 20px;

    .jury-criteria-documents {
      min-height: 0px;
      text-align: center;

      .jury-criteria {
        text-align: center;
        margin: 0 20px 40px auto;
        width: 150px;
        letter-spacing: 0;
        color: @black;
        display: inline-block;

        .jury-criteria-txt {
          margin-bottom: 5px;
          text-transform: uppercase;
        }
        .jury-criteria-img {
          filter: brightness(0);

          a {
            align-items: center;
            display: inline-flex;
            justify-content: center;
            min-height: 44px;
            min-width: 44px;
          }
        }
      }
    }

    .jury-criteria-desc {
      width: 300px;
      margin: 0 auto;
      text-transform: uppercase;
      min-height: 0px;
      padding-top: 30px;
      padding-bottom: 20px;
      letter-spacing: 0;

      .pink-dash {
        color: @pink;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
