@import "../main";


.contestants {
  .blue-section-wrapper {
    .blue-section-wrapper (@img_path: "../../assets/img/contestants.png");
  }

  .blue-section {
    .blue-section(@min-height: 500px);
    color: @white;

    h1 {
      font-size: 6em;
    }
  }

  .stats-section {
    @section-height: 112px;
    margin-top: -@section-height/2;

    text-transform: uppercase;
    color: @yellow;
    text-align: center;

    .inner-stats {
      background-color: @light-black;

      .description {
        margin-top: 20px;
        font-weight: bold;
        color: @white;
      }

      .value {
        font-weight: bold;
        margin-top: -20px;
        font-size: 3em;
        width: 100%;
        height: 100%;
      }

      .border-left:after {
        // http://stackoverflow.com/questions/3953293/how-to-control-border-height
        content: "";
        border-left: 2px solid @grey;
        position: absolute;
        height: 50%;
        left: 0;
        top: 25%;
      }
    }
  }

  .filter-buttons {
    &.hidden {
      display: none;
    }

    .col-md-1 {
      float: left;
    }

    .icon {
      cursor: pointer;
      font-size: 50px;

      &.inactive {
        color: @dark-gray;
      }
    }

    .round-icon {
      cursor: pointer;
      height: 60px;
      width: 60px;
      border: 3px solid;
      border-radius: 100%;
      text-align: center;

      &.inactive {
        border-color: @light-grey;
      }

      span {
        background-size: 30px 25px;
        display: inline-block;
        margin: 13px auto;
        -webkit-filter: saturate(0);
        filter: saturate(0);
        height: 25px;
        width: 30px;
      }
    }
  }

  .projects{

    .projects-list{

      .project-row {
        border-top: 1px solid @light-grey;
        border-right: 1px solid @light-grey;
        border-left: 1px solid @light-grey;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        min-height: 100px;

        .project-details {
          margin-left: 2%;

          .project-title {
            font-size: 2em;
            margin-right: 10%;
          }

          .authors {
            display: inline-block;

            .author {
              text-transform: uppercase;
              margin-right: 8%;
              color: @blue;
            }
          }
        }

        .project-other-details {
          margin-top: 10%;

          .map-marker {
            float: left;
            background: url("../../assets/img/icons/location.png");
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            margin-top: -2px;
          }

          .location {
            text-transform: uppercase;
            margin-left: 10%;
          }

          .comments {
            float: right;
            background: url("../../assets/img/icons/comments.png");
            text-align: center;
            width: 25px;
            height: 25px;
            background-size: 25px 25px;
            color: @white;
          }
        }

      }

      .orange-section {
        font-size: 15px;
        background-color: @orange;
        text-transform: uppercase;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        height: 60px;

        .project-category {
          margin-left: 35px;
          margin-top: 20px;
          float: left;
          opacity: 0.5;
        }

        .project-category-icon {
          background-size: 60px 50px;
          float: left;
          width: 60px;
          margin-top: 10px;
          margin-left: 25px;
          -webkit-filter: saturate(0);
          filter: saturate(0);
          height: 50px;
        }
      }
    }

    .projects-grid {
       -moz-column-width: 15em;
       -webkit-column-width: 15em;
       -moz-column-gap: 0.5em;
       -webkit-column-gap: 0.5em;

      .item {
        display: inline-block;
        padding:  10px;
        width:  275px;
      }

      .participant-container {
        text-align: center;
        border-top: 4px solid @light-grey;
        border-right: 1px solid @light-grey;
        border-left: 1px solid @light-grey;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        position: relative;
        display: block;

        .project-title {
          font-size: 2em;
        }

        .project-details {
          width: 85%;
          margin: 0 auto;
          text-transform: uppercase;
          text-align: left;

          .comments {
            float: right;
            background: url("../../assets/img/icons/comments.png");
            text-align: center;
            width: 25px;
            height: 25px;
            background-size: 25px 25px;
            color: @white;
            margin-top: -3px;
          }

          .map-marker {
            float: left;
            background: url("../../assets/img/icons/location.png");
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            margin-top: -2px;
          }

          .author {
            color: @blue;
          }

          .icon {
            font-size: 20px;
          }
        }
      }

      .orange-section {
        margin: 0 auto;
        font-size: 15px;
        background-color: @orange;
        text-transform: uppercase;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        height: 60px;

        .project-category {
          margin-left: 25px;
          margin-top: 20px;
          float: left;
          opacity: 0.5;
        }

        .project-category-icon {
          background-size: 60px 50px;
          float: right;
          width: 60px;
          height: 50px;
          margin-top: 10px;
          margin-right: 20px;
          -webkit-filter: saturate(0);
          filter: saturate(0);
        }
      }
    }
  }
}
