@import "../main";


.footer {

  .small-spacing.second {
    border-bottom: 3px @light-grey solid;
  }

  .call-to-action {
    color: #8e8f91;

    .left {
      border-right: solid 3px @light-grey;
      text-align: center;

      .newsletter {
        padding: 15px;
        text-align: center;
        border: solid @light-grey;
      }
    }
  }

  .navbar-default {
    text-align: center;
    letter-spacing: @medium-letter-spacing;

    .navbar-nav {
      @media (min-width: 768px) {
        display: inline-block;
        float: none;
        vertical-align: top;
      }

      li {
        margin: 0 30px;

        &.active {
          a {
            color: @grey;
          }
        }
        a {
          color: @pink;

          &:hover {
            color: @grey;
          }
        }
      }
    }
  }
}
