// vim: sw=2:ts=2:sts=2:et:fileencoding=utf8:
@import "../main";


.footer {
  @min-row-height: 150px;

  text-transform: uppercase;

  &.row {
    .row(@min-row-height);
  }

  .show-more {
    color: #8e8f91;
    min-height: @min-row-height;

    &.right {
        padding-top: 2%;
        padding-right: 4%;
        border-right: solid 3px @light-grey;
        text-align: right;

    }
    .newsletter {
      padding: 1%;
      text-align: center;
      margin: 0 auto;
      width: 40%;
      float: right;
      border: solid @light-grey;
    }

    .signup {
      margin-right: 10%;
      margin-top: 20px;
      float: right;
      border: solid @orange;
      width: 150px;
      text-align: center;
      border-radius: 50px;
      height: 60px;
      padding: 2%;
      display: inline;
    }

  }

  .navbar-default {
    .navbar-collapse {
      text-align: center;
    }

    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;

      li {
        margin-left: 45px;
        margin-right: 45px;

        &.active {
          a {
            color: @grey;
          }
        }
        a {
          color: @pink;

          &:hover {
            color: @grey;
          }
        }
      }
    }
  }
}
