@import "../main";


.galaciuc {
  .blue-section-wrapper {
    .blue-section-wrapper (@img_path: "../../assets/img/bag.png");
  }
  .blue-section {
    .blue-section();
  }

  .white-section {
    text-align: center;

    h4 {
      text-align: left;
    }

    .about {
      font-size: 20px;
      text-align: left;
      margin-top: 20px;

      .pink-dash {
        font-size: 30px;
        margin-right: 10px;
      }

      &.listing {
        margin-top: 10px;
      }
    }

    .box {
      @box-height: 400px;
      height: @box-height;
      border: 3px solid @light-grey;

      .rules {
        margin-top: @box-height / 4;

        .description {
          text-transform: uppercase;
          font-size: 25px;
          letter-spacing: @medium-letter-spacing;

          .pink-dash {
            margin-left: 20px;
            margin-right: 20px;
          }

        }
        .doc {
          display: inline-block;
          margin: @box-height / 8 auto auto;
          background-size: 100%;
          height: 80px;
          width: 60px;
        }

      }
    }

    .contact {
      .listing {
        margin-top: -10px;
      }
    }

    .category {
      @category-height: 175px;
      height: @category-height;
      width: 165px;
      display: inline-block;
      float: left;
      margin-right: 15px;

      &.yellow {
        background-color: @yellow;
      }

      &.green {
        background-color: @green;
      }

      &.blue {
        background-color: @blue;
      }

      &.pink {
        background-color: @pink;
      }

      &.black {
        background-color: @light-black;
      }

      .round-icon {
        @icon-height: 70px;
        width: 70px;
        height: @icon-height;
        background-color: @black;
        border-radius: 100%;
        margin: @category-height / 5 auto auto;

        .section-icon {
          margin: @icon-height / 4 auto;
          display: inline-block;
        }
      }

      .description {
        color: @white;
        text-transform: uppercase;
        text-align: center;
        margin-top: 15px;
      }

    }
  }
}
