@import "../main";


.galaciuc {
  .blue-section-wrapper {
    .blue-section-wrapper (@img_path: "../../assets/img/bag.png");
  }
  .blue-section {
    .blue-section();

    h1 {
      color: @white;
      font-size: @font-size-h1-big / 2;
    }

    h2 {
      font-weight: bold;
      letter-spacing: @medium-letter-spacing / 2;
    }

    @media screen and (max-width: @screen-md) {
      .link {
        margin: @vertical-small-spacing/4 0;
      }

      .header-spacing {
        height: 0;
      }
    }
  }
}
