@import "../main";


.header {
  .section-title();

  .navbar-nav {
    float: right;

    li.active:before {
      top: 75%;
      border-radius: 150px;
      content: "";
      position: absolute;
      width: 40%;
      height: 1px;
      bottom: 0;
      left: 30%;
      border-bottom: 3px solid @yellow;
    }

    a {
      outline: none;
    }
  }

  @media screen and (max-width: 1000px) {
    .navbar-brand {
      display: none;
    }
    .navbar-nav {
      float: none;
    }
  }

  .navbar-brand {
    float: left;
  }

  .navbar-collapse {
    overflow: hidden;
  }

  a:hover {
    text-decoration: underline;
  }


}
