@import (reference) "../main";


.home {
  color: @white;

  &.english {
    .blue-section {
      .right-button {
        text-align: center;
      }
    }
  }

  .blue-section-wrapper {
    .blue-section-wrapper (@img_path: "/assets/img/bag.jpg");
  }
  .blue-section {
    .blue-section();

    @media screen and (max-width: @screen-md) {
      .cta-link {
        margin: @vertical-small-spacing/4 0;
      }

      .header-spacing {
        height: 0;
      }
    }

    .tagline {
      font-size: @font-size-h5;
      margin-bottom: 0;
    }

    @media screen and (min-width: @screen-md) {
      .left-button {
        text-align: right;
      }

      .right-button {
        text-align: left;
      }
    }

    .statistics {
      text-transform: uppercase;
      text-align: center;
      color: @white;

      .description {
        text-transform: uppercase;
        margin-bottom: 0;
      }
      .value {
        color: @orange;
        font-size: @font-size-h3;
        font-weight: normal;
      }
    }
  }

  .green-section-wrapper {
    background-color: @green;
  }

  .gray-section-wrapper {
    background-color: @dark-green;
  }
  .gray-section {
    color: @dark-gray;
    background-image: url(/assets/img/quotes.png),
                      url(/assets/img/cristi.png);
    background-repeat: no-repeat;
    background-position: 25% -20px, 0 150px;
    min-height: 500px;

    .quote {
      font-size: @font-size-h4;
    }

    .alumnus-name {
      color: @yellow;
      font-weight: normal;
    }

    .alumnus-position,
    .section-heading {
      text-transform: uppercase;
    }
  }

  .yellow-section-wrapper {
    text-align: center;
    background-color: @yellow;
    color: @dark-green;

    .text {
      min-height: 500px;

      .data {
        font-weight: normal;
      }

      .location-title {
        color: @dark-green;
        font-family: @font-family-serif;
        font-size: 72px;
        text-transform: none;
      }

      .edition {
        color: #8E0054;
        font-weight: bold;
      }
    }

    .grass {
      background-image: url(/assets/img/pajiste.jpg);
      background-color: @yellow;
      background-size: cover;
      min-height: 500px;
    }
  }

  .sponsors-section {
    text-align: center;
    text-transform: uppercase;
    color: @dark-green;

    h2,
    h3 {
      color: @dark-green;
      text-transform: uppercase;
    }

    h2 {
      font-size: @font-size-h4;
    }

    h3 {
      font-size: @font-size-h5;
    }

    .logos {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    img {
      padding: 20px 20px;
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .home .yellow-section-wrapper .text .location-title {
    font-size: 58px;
  }
}
