@import "../main";


.home {
  color: @white;
  .blue-section-wrapper {
    .blue-section-wrapper (@img_path: "../../assets/img/bag.png");
  }
  .blue-section {
    .blue-section();

    @media screen and (max-width: @screen-md) {
      .link {
        margin: @vertical-small-spacing/4 0;
      }

      .header-spacing {
        height: 0;
      }
    }

    @media screen and (min-width: @screen-md) {
      .left-button {
        text-align: right;
      }

      .right-button {
        text-align: left;
      }
    }

    .statistics {
      text-transform: uppercase;
      text-align: center;
      color: @white;

      .description {
        text-transform: uppercase;
        margin-bottom: 0;
      }
      .value {
        color: @orange;
        font-size: @font-size-h3;
        font-weight: normal;
      }
    }
  }

  .green-section-wrapper {
    background-color: @green;
  }
  .green-section {
    a {
      color: @white;

      &.link {
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        border: 1px solid @white;
        letter-spacing: 0px;
        text-transform: none;
      }
    }

    .date {
      color: @dark-green;
      font-weight: normal;
    }

    .title {
      font-size: 25px;
      color: @dark-green;
      font-weight: normal;
    }

    .pinned-news {
      .title {
        font-size: 35px;
      }

      .message {
        font-size: @font-size-h4;
      }
    }
  }

  .gray-section-wrapper {
    background-color: @dark-green;
  }
  .gray-section {
    color: @dark-gray;
    background-image: url(../../assets/img/quotes.png),
                      url(../../assets/img/cristi.png);
    background-repeat: no-repeat;
    background-position: 25% -20px, 0 150px;
    min-height: 500px;

    .quote {
      font-size: @font-size-h4;
    }

    .alumnus-name {
      color: @yellow;
      font-weight: normal;
    }
  }

  .yellow-section-wrapper {
    text-align: center;
    background-color: @yellow;
    color: @dark-green;

    .text {
      min-height: 500px;

      .data {
        font-weight: normal;
      }

      .edition {
        color: @pink;
        font-weight: bold;
      }
    }

    .grass {
      background-image: url(../../assets/img/pajiste.jpg);
      background-color: @yellow;
      background-size: cover;
      min-height: 500px;
    }
  }

  .sponsors-section {
    text-align: center;
    text-transform: uppercase;
    color: @dark-green;

    img {
      padding: 20px 40px;
      vertical-align: middle;
    }
  }
}
