@import "../main";


.jury {
    .blue-section {
        padding-top: 20px;
        background:
          linear-gradient(
            @blue-gradient,
            @blue-gradient
          ), url(../../assets/img/jury.png);
        background-size: cover;
    }
}
