@import "../main";


.jury {
    @blue-section-background-image:  url(../../assets/img/jury.png);

    .blue-section {
        min-height: 500px;
        padding-top: 20px;
        background:
          linear-gradient(
            @blue-gradient,
            @blue-gradient
          ), @blue-section-background-image;
        background-size: cover;
    }
}
