@import "../main";


.results {
  .blue-section-wrapper {
    .blue-section-wrapper (@img_path: "../../assets/img/contestants.png");
  }

  .blue-section {
    .blue-section();
  }

  .results-section {
    table {
      @cell-height: 90px;

      th {
        background-color: @orange;
        text-transform: uppercase;
        height: @cell-height;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        border-bottom: 10px solid @light-black;

        &.left {
          text-align: left;
        }
      }

      td {
        height: @cell-height;
        vertical-align: middle;
        display: table-cell;
        border-bottom: 1px solid @pink;

        &.rank {
          text-transform: uppercase;
          text-align: center;
          color: @blue;
          font-size: @font-size-h2;
          letter-spacing: @big-letter-spacing;
        }

        &.title {
          font-size: @font-size-h5;
        }

        &.score {
          font-weight: bold;
          text-align: center;
        }

        .author {
          text-transform: uppercase;
          color: @blue;
        }
      }
    }
  }
}
