@import (reference) "../main";


.results {
  .blue-section-wrapper {
    .blue-section-wrapper (@img_path: "/assets/img/register.webp");
  }

  .blue-section {
    .blue-section(420px);
  }

  > .results-status {
    background: @light-grey;
    border-left: 4px solid @blue;
    margin: 24px auto;
    max-width: 900px;
    padding: 16px;

    &.error {
      border-left-color: @red;
    }
  }

  .results-section {
    .results-status {
      background: @light-grey;
      border-left: 4px solid @blue;
      margin: 16px 0;
      padding: 16px;

      &.error {
        border-left-color: @red;
      }
    }

    table {
      @cell-height: 40px;
      // TODO: @vtemian @palcu trebuie sa schimbam asta:
      font-size: 14px;

      th {
        background-color: @orange;
        text-transform: uppercase;
        height: @cell-height;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        border-bottom: 10px solid @light-black;

        &.left {
          text-align: left;
        }
      }

      td {
        height: @cell-height;
        vertical-align: middle;
        display: table-cell;
        border-bottom: 1px solid @pink;
        max-width: 260px;

        a {
          text-decoration: none;
          color: @black;
        }

        &.rank {
          text-transform: uppercase;
          text-align: center;
          color: @link-blue;
          letter-spacing: @big-letter-spacing;
        }

        &.score {
          font-weight: bold;
          text-align: center;
        }

       .list-unstyled {
          margin-bottom: 0px;

          .author a {
            text-transform: uppercase;
            color: @link-blue;
          }

          li:nth-child(even) {
            padding-top: 10px;
          }
        }
      }

      tr:hover {
        background-color: @orange;
      }
    }
  }
}
