@import "../main";


.results {
  .blue-section-wrapper {
    .blue-section-wrapper (@img_path: "../../assets/img/contestants.png");
  }

  .blue-section {
    .blue-section();
  }

  .results-section {
    table {
      th {
        background-color: @orange;
        text-transform: uppercase;
        height: 100px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        border-bottom: 10px solid @light-black;
      }
    }
  }
}
