@import (reference) "../main";


.schedule {
  .blue-section-wrapper {
    .blue-section-wrapper (@img_path: "/assets/img/register.webp");
  }
  .blue-section {
    .blue-section(420px);
  }

  .white-section {
    .schedule-document {
      display: block;
      width: 100%;
      min-height: 725px;
      height: 80vh;
      border: 0;
    }
  }

}
