@import (reference) "../main";


.talks {
  .blue-section-wrapper {
    .blue-section-wrapper (@img_path: "/assets/img/galaciuc.webp");
  }
  .blue-section {
    .blue-section(420px);
  }

  .talk-container {
    color: @black;
    text-align: left;

    .talk-title {
      font-size: @font-size-h4;
      text-align: left;
    }

    .read-more {
      color: @black;
      cursor: pointer;
      font-size: 0.8em;
      font-style: italic;

      &:hover {
        color: @black;
      }
    }


    .author-text {
      margin: 0 0 100px 0;

      .author-name {
        color: @light-black;
        text-transform: uppercase;
        letter-spacing: @medium-letter-spacing / 2;
        font-weight: bold;
      }

      .author-job {
        color: @black;
        text-align: left;
        font-size: @font-size-h6;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .author-image {
      width: 150px;
      height: 150px;
      margin: 10px 0;

      img {
        width: 100%;
        height: 100%;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        filter: gray;
        border-radius: 100%;
      }
    }

    &.green {
      background-color: @green;
    }

    &.orange {
      background-color: @orange;
    }

    &.black {
      background-color: @light-black;
      color: @white;

      .author-name {
        color: @orange;
      }

      .author-job {
        color: @light-grey;
      }

      .read-more,
      .read-more:hover {
        color: @white;
      }
    }

  }

  @media screen and (max-width: (@screen-md - 1px)) {
    .talk-container {
      padding-left: 20px;
      padding-right: 20px;

      .author-image {
        margin-left: auto;
        margin-right: auto;
      }

      .talk-copy {
        padding-top: 20px;
      }
    }
  }
}
