@import "~bootstrap/less/bootstrap";
@import "~bootstrap/less/variables";
@import "styles/variables";
@import "styles/classes";
@import "styles/mixins";


@font-face {
  font-family: 'Shadows Into Light';
  src: url(../assets/fonts/shadows2.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400&subset=latin,latin-ext);

@navbar-default-bg: transparent;
