@import "~bootstrap/less/bootstrap";
@import "~bootstrap/less/variables";
@import "styles/variables";
@import "styles/classes";
@import "styles/mixins";

@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Lato);

@navbar-default-bg: transparent;

.row(@min-height: 345px) {
  min-height: @min-height;

  .inner-row {
    margin: 0 auto;
  }
}
