@import "~bootstrap/less/bootstrap";
@import "~bootstrap/less/variables";
@import "styles/variables";
@import "styles/classes";

@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Lato);

@vertical-big-spacing: 100px;
@vertical-small-spacing: 50px;
@blue-gradient: rgba(13, 104, 137, 0.45);
@section-min-height: 345px;
@navbar-default-bg: transparent;
@blue-section-background-image:  url(../assets/img/bag.png);

.main {
  .row {
    min-height: 345px;

    .inner-row {
      margin: 0 auto;
    }
  }

  .blue-section {
    padding-top: 20px;
    background:
      linear-gradient(
        @blue-gradient,
        @blue-gradient
      ), @blue-section-background-image;
    background-size: cover;

    text-align: center;
    min-height: @section-min-height * 2;

    h1 {
      margin-top: @vertical-big-spacing;
      font-family: 'Shadows Into Light', cursive;
      font-size: 5em;
      color: @white;
    }

    h2 {
      text-transform: uppercase;
      color: @orange;
    }

    .tagline {
      margin-top: @vertical-small-spacing;
      font-size: 1.5em;
      color: @white;
    }

    .call-to-action {
      margin-top: @vertical-small-spacing;
      a {
        padding: 15px;
        color: @white;
        text-transform: uppercase;
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    table {
      margin-top: @vertical-big-spacing;
      margin-left: auto;
      margin-right: auto;
      text-transform: uppercase;

      td {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1.3em;
      }

      .entities td {
        color: @white;
      }

      .values td {
        font-size: 2.6em;
        color: @orange;
      }
    }
  }

  .green-section {
    background-color: green;
  }

  .gray-section {
    background-color: gray;
  }

  .yellow-section {
    background-color: yellow;
  }
}
