@import "../../main";


.filter-buttons {
  text-align: center;

  .icon {
    cursor: pointer;
    font-size: 50px;

    &.inactive {
      color: @dark-gray;
    }
  }

  .round-icon {
    margin: 0 auto;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: 3px solid;
    border-radius: 100%;

    &.inactive {
      border-color: @light-grey;
    }

    .section-icon {
      filter: contrast(0);
      background-size: 30px 25px;
      margin: 10px auto;
      height: 25px;
      width: 30px;

      &.all {
        background-size: 28px 28px;
        height: 30px;
        margin-top: 8px;
        margin-left: 8px;
      }
    }
  }
}
