@import "../../main";


.project-row {

  .project-row-details {
    border-top: 1px solid @light-grey;
    border-right: 1px solid @light-grey;
    border-left: 1px solid @light-grey;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    min-height: 100px;

    .project-details {
      margin-left: 2%;

      .project-title {
        font-size: 2em;
        margin-right: 10%;
      }

      .authors {
        display: inline-block;

        .author {
          text-transform: uppercase;
          margin-right: 8%;
          color: @blue;
        }
      }
    }

    .project-other-details {
      margin-top: 10%;

      .map-marker {
        display: inline-block;
        background: url("../../../assets/img/icons/location.png") no-repeat;
        width: 17px;
        height: 24px;
      }

      .location {
        text-transform: uppercase;
      }

      .comments {
        display: inline-block;
        background: url("../../../assets/img/icons/comments.png") no-repeat;
        text-align: center;
        width: 28px;
        height: 25px;
        color: @white;
      }
    }
  }

  .orange-section {
    font-size: 15px;
    background-color: @orange;
    text-transform: uppercase;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;

    .project-category {
      opacity: 0.5;
      margin-top: 10px;
    }

    .project-category-icon {
      background-size: 60px 50px;
      width: 60px;
      filter: brightness(120%);
      height: 50px;

      &.media {
        margin-top: 0px;
      }
    }
  }
}
